.btn-margin {
  margin: 7px 3px;
}

.login-div{
  height: 15%;

  margin-left: 40%;
}

.logo-text{
  font-family: 'Righteous', cursive;
}

.avatar-logo{
  margin: 4px 5px;
  float: right
}

.form-inline{
  float: right
}

#newSnippetBtn{	
margin: 0 auto;	
display: block	
}